{% extends 'base.html.twig' %}

{% block body %}
    <h1>Leaderboard (Code: {{game.joinCode}})</h1>
    <div class="admin-table">
        <div class="row">
            <div class="cell">Student</div>
            <div class="cell">Score</div>
        </div>
        {% for student in students %}
            <div class="row">
                <div class="cell">{{student.nickname}}</div>
                <div class="cell">${{student.score}}</div>
            </div>
        {% endfor %}
    </div>
    <div class="cta-container">
        <a class="primary-cta" href="{{ path('teacher_game_admin_end_round', {joinCode: game.joinCode}) }}">End Round</a><!--
        --><br /><br /><!--
        --><a class="secondary-cta" onClick="return confirmEnd();" href="{{ path('teacher_game_admin_end_game', {joinCode: game.joinCode}) }}">End Game</a>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        function confirmEnd() {
            if(!confirm("Are you sure you want to end this game?")) {
                return false;
            }
        }
    </script>
{% endblock %}
